.better-plugins-page-plugin-setting-tab {
	/* padding-top: 20px; */

	.hidden-plugins-setting,
	.saved-plugins-setting {
		flex-direction: column;
		align-items: stretch;
	}

	.hidden-plugins-setting textarea,
	.saved-plugins-setting textarea {
		margin-top: 10px;
		min-width: 100%;
		max-width: 100%;
		width: 100%;
		min-height: 120px;
	}

	> h2 {
		color: var(--interactive-accent) !important;
	}

	> h2 + .setting-item {
		border-top: 0px;
	}
}

/* Hide community items with the specified class */
.better-plugins-page-hidden-community-item {
	opacity: 0.4;
}

.community-item:not(:hover) .buttons-container {
	display: none;
}

.community-item .buttons-container {
	flex-direction: column;
	align-items: flex-start;
}

/* Hide the button by default */
.community-item .buttons-container button {
	display: none !important;
}

/* Show the button when hovering over the card */
.community-item:hover .buttons-container {
	/* You can style the button as needed */
	/* For example, you can set its position to the top right corner */
	position: absolute;
	top: 10px;
	right: 10px;
}

.community-item.better-plugins-page-hidden-community-item:hover
	button.show-button,
.community-item:hover:not(.better-plugins-page-hidden-community-item):not(
		[data-installed="true"]
	)
	button.hide-button,
.community-item.better-plugins-page-hidden-community-item:hover
	.buttons-container,
.community-item[data-saved="false"]:hover button.save-button,
.community-item[data-saved="true"]:hover button.unsave-button {
	display: block !important;
}

.community-item .buttons-container button {
	cursor: pointer;
}

.better-plugin-page-download-count-filtered {
	display: none;
}

.better-plugins-page-plugin-setting-button-group {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: flex-end;
}

/* Add margin to create a 10px gap between flex items */
.better-plugins-page-plugin-setting-button-group > * {
	margin-right: 10px; /* Adjust as needed */
}

/* Remove the margin from the last item to prevent extra spacing */
.better-plugins-page-plugin-setting-button-group > :last-child {
	margin-right: 0;
}

/* Add bookmark icon to saved community item */
.community-item[data-saved="true"] {
	position: relative;
}

.community-item[data-saved="true"]::before {
	content: "";
	position: absolute;
	top: -5px;
	right: 10px;
	width: 24px; /* Adjust the size as needed */
	height: 24px; /* Adjust the size as needed */
	background: url("data:image/svg+xml;charset=utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='red'><path fill-rule='evenodd' d='M6.32 2.577a49.255 49.255 0 0111.36 0c1.497.174 2.57 1.46 2.57 2.93V21a.75.75 0 01-1.085.67L12 18.089l-7.165 3.583A.75.75 0 013.75 21V5.507c0-1.47 1.073-2.756 2.57-2.93z' clip-rule='evenodd'/></svg>");
	background-size: cover;
	background-repeat: no-repeat;
	z-index: 1;
}
